$navbar_height: 50px;
$test_runner_height: 320px;

body,html {
  height: 100%;
  margin: 0;
}

section.main {
  @include calc(height, #{"100% - #{$test_runner_height} - #{$navbar_height}"});
  margin-top: $navbar_height;
  display: flex;
  flex-direction: row;
}

.editor {
  width: 50%;
}

.editor-player {
  @extend .editor;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
}

.editor-opponent {
  @extend .editor;
}

.test-runner {
  height: $test_runner_height;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.center {
  width: inherit;
  margin: 0 auto;
  text-align: center;
}

.loading-container {
  margin: 10px;
}

.loading-img {
  width: 32px;
  height: 32px;
  border: 0 !important;
}
