*.orig
*.swo
*.swp
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
Icon?
Thumbs.db
ehthumbs.db

.sass-cache
node_modules
server/secrets.js
coverage
test
assets
karma.conf.js
git-hooks.sh
Gruntfile
.teamocil
