extends layout

block navbar
  nav
    ul.inline
      li
        h6.inline {current function}
        a(href="#") reset
        a(href="#") vote to skip
    ul.right.inline
      li
        a(href="#") log in

block content
  section.main
    #editor-p
    #editor-o
    // TODO: Adjust grep string based on current function
    iframe#tests(src='/js/mocha/SpecRunner.html?grep=_.each')
    //-iframe#editor2-tests

