extends layout

block navbar
  nav
    ul
      li
        a(href="#") current function
        a(href="#") reset
        a(href="#") forfeit
    ul.right
      li
        a(href="#") log in

block content
  section.main
    #editor1
    #editor2
    iframe#editor1-tests(src='/js/jasmine/SpecRunner.html?spec=each')
    iframe#editor2-tests

