doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='css/style.css')
    script(src='js/ace/ace.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js')
  body
    block content
