body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-width:1000px;
}

a {
  color: #00B7FF;
}

#editor1 {
  position: absolute;
  top: 0;
  right: 50%;
  bottom: 20%;
  left: 0;
  border:2px solid green;
}

#editor2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 20%;
  left: 50%;
  border:2px solid green;
}

#editor1-tests {
  position: absolute;
  top: 80%;
  right: 50%;
  bottom: 0;
  left: 0;
  border:2px solid green;
}

#editor2-tests {
  position: absolute;
  top: 80%;
  right: 0;
  bottom: 0;
  left: 50%;
  border:2px solid green;
}
