<div class="vbox viewport">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="javascript:void(0)">Underscoreboard</a>
    </div>

    <ul class="nav navbar-nav"></ul>
  </nav>

  <section class="main hbox space-between">
    <div class="editor-player"></div>
    <div class="editor-opponent"></div>
  </section>

  <section>
    <iframe class="test-runner" frameborder="0"></iframe>
  </section>
</div>

<div class="modalView modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Content controlled by modalView -->
    </div>
  </div>
</div>
