<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="javascript:void(0)">Underscoreboard</a>
  </div>

  <ul class="nav navbar-nav">
    <li><a id="reset-button" href="javascript:void(0)">Reset Code</a></li>
  </ul>
</nav>

<section class="main">
  <div class="editor-player">dat text</div>
  <div class="editor-opponent">texty textmaster</div>
  <iframe class="test-runner" frameborder="0"></iframe>
</section>
