extends layout

block navbar
  nav.navbar.navbar-fixed-top
    div.navbar-inner
      ul.nav.inline
        li
          h1#masthead-title underscoreboard
        li
          h3#current-function-label current function
        li
          h4#current-function-name
        li
          a(href="", id="reset-button", class='first') reset code
        li
          a(href="", id="skip-button") vote to skip

block content
  section.main
    #editor-p
    #editor-o
    iframe#tests
