extends layout

block navbar
  nav
    ul.inline
      li
        h1#masthead-title.inline underscoreboard
        h3#current-function-label.inline current function
        h4#current-function-name.inline
        a(href="", id="reset-button", class='first') reset code
        a(href="", id="skip-button") vote to skip
    ul.right.inline
      li
        a(href="", id="login-button") log in

block content
  section.main
    #editor-p
    #editor-o
    iframe#tests
