extends layout

block navbar
  nav
    ul.inline
      li
        h6.inline {current function}
        a(href="", id="reset-button") reset
        a(href="", id="skip-button") vote to skip
    ul.right.inline
      li
        a(href="", id="login-button") log in

block content
  section.main
    #editor-p
    #editor-o
    // TODO: Adjust grep string based on current function
    iframe#tests(src='/js/mocha/SpecRunner.html?grep=_.each')
