$navbar_height: 51px;
$test_runner_height: 270px;

body, html, .viewport {
  height: 100%;
  width: 100%;
  margin: 0;
}

/*
 * Helper Classes
 */

.center {
  width: inherit;
  margin: 0 auto;
  text-align: center;
}

/*
 * Flexbox helper classes
 */

.vbox {
  display: flex;
  flex-direction: column;
}

.hbox {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

/*
 * Editors
 */

.main {
  margin-top: $navbar_height;
  flex: 1;
}

.editor {
  flex: 1;
}

.editor-player {
  @extend .editor;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
}

.editor-opponent {
  @extend .editor;
}

.test-runner {
  height: $test_runner_height;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

/*
 * Modals
 */

.loading-container {
  margin: 10px;
}

.loading-img {
  width: 32px;
  height: 32px;
  border: 0 !important;
}
