doctype 5
html
  head
    title=title
    meta(name='description', content='A simple, outcode-your-friends (or enemies) game')
    meta(name='author', content='Nathan Houle')
    link(rel='stylesheet', href='css/styles.css')
    link(rel='shortcut icon', href='img/favicon.ico')
    link(rel='apple-touch-icon', href='img/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='img/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='img/apple-touch-icon-114x114.png')
    //-script(src="js/main.js")
    // if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    - if (typeof js != undefined)
      each script in js
        script(src=script)

  body
    block navbar
    block content
