extends layout

block navbar
  nav.navbar.navbar-fixed-top
    div.navbar-inner
      ul.nav.inline
        li
          h1#masthead-title underscoreboard
        li
          a(href='', id='reset-button') reset code
      //-ul.nav.inline.pull-right
        //-li.dropdown
          //-a.dropdown-toggle(data-toggle='dropdown', href='#') Help <b class='caret'></b>
          //-ul.dropdown-menu
            //-li
              //-a.help-modal

block content
  section.main
    #editor-player
    #editor-opponent
    iframe#tests

  // Pairing modal. Displays on pageload and disappears when the user gets paired.
  div#pairing-modal.modal.hide.fade
    div.modal-header
      h3 Welcome to Underscoreboard
    div.modal-body
      p.center Finding you a partner...
      div.loading-container.center
        img.loading-img.center(src='../img/loading.gif')
      p &nbsp;
      h4 About Underscoreboard
      p Underscoreboard is a realtime coding game where players try to implement an Underscore (a JavaScript library) function faster than their opponent. Players get realtime feedback in the form of a test suite that updates as they type. Make all the tests pass to win!
      p If you're just here to check it out, click <a href="http://underscoreboard.com", target='_blank'>here</a> to open a second tab to play by yourself. (Spoiler: It's better with friends.)

  // Victory modal. Displays when a user wins a round.
  div#victory-modal.modal.hide.fade
    div.modal-header
      h3 You Won
    div.modal-body
      p Hooray! Starting the next round...

  // Loss modal. Displays when a users loses a round.
  div#loss-modal.modal.hide.fade
    div.modal-header
      h3 You Lost
    div.modal-body
      p Better luck next time! Starting the next round...

  // Re-pairing modal. Displays when a user's opponent leaves the room.
  div#repairing-modal.modal.hide.fade
    div.modal-header
      h3 Your Opponent Left
    div.modal-body
      p Finding you a new partner...

  // Re-pairing modal. Displays when a user's opponent leaves the room.
  div#help-modal.modal.hide.fade
    div.modal-header
      h3 Your Opponent Left
    div.modal-body
      p Finding you a new partner...
